*.rbc
capybara-*.html
.rspec
/rayols/db/*.sqlite3
/rayols/db/*.sqlite3-journal
/rayols/db/*.sqlite3-[0-9]*
/rayols/public/system
/rayols/coverage/
/rayols/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/rayols/log/*
/rayols/tmp/*
!/rayols/log/.keep
!/rayols/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
rayols/config/initializers/secret_token.rb
/rayols/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv, dotenv-rails
# TODO Comment out these rules if environment variables can be committed
/rayols/.env
/rayols/.env*.local

## Environment normalization:
/rayols/.bundle
/rayols/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/rayols/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
/rayols/node_modules/

# Ignore precompiled javascript packs
/rayols/public/packs
/rayols/public/packs-test
/rayols/public/assets

# Ignore yarn files
/rayols/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/rayols/storage/*
!/rayols/storage/.keep
/rayols/public/uploads
